.Shoesmenu {
    position: absolute;
    left: 0;
    width: 700px;
    height: 877px;

    .main {
        margin: 70px 0 32px 70px;

        .li-list {
            list-style-type: none;
            font-size: 28px;
            margin: 0 0 24px;
            font-weight: 600;
            line-height: 1;
            color: #000000;

        }

        .recommend-item {
            position: relative;
            width: 560px;
            height: 205px;
            margin-top: 80px;
            margin-right: 32px;
            max-width: 560px;

            .recommend-ptag {
                margin: 0 0 15px;
                padding-left: 40px;
                font-weight: bold;
                font-size: 14px;
            }

            .image-list {
                display: flex;
                list-style: none;

                .picture-collect {
                    display: flex;
                    margin-left: 20px;
                }

                .RecommendImg {
                    display: flex;
                }

                .picture {
                    margin-right: 15px;

                    .picture-size {
                        width: 123px;
                        height: 144px;
                        margin-bottom: 15px;
                    }
                }

                span {
                    color: #000000;
                }

                a {
                    text-decoration: none;
                }
            }

        }
    }
}