.ForgotPassword {
    .id-form {
        width: 540px;
        height: 500px;
        margin: 100px auto;
        display: flex;
        border: 1px solid #e5e5e5;

        .idpwd-form {
            width: 540px;
            height: 540px;

        }

        .id-pwd {
            display: flex;
        }

        .find-id {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 269px;
            height: 50px;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            color: #9b9b9b;
            background-color: #f4f4f4;
        }

        .reset-pwd {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 269px;
            height: 50px;
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            line-height: 1;
            color: #000000;
            background-color: #ffffff;
        }

        .forgot-content {
            width: 100%;
            margin-top: 60px;
            text-align: center;
            font-size: 14px;

            span {
                margin-top: 10px;
            }
        }

        .button-login {
            display: flex;

            .kakao-login {
                display: flex;
                justify-content: center;
                margin: 20px auto;
                border: 0;
                width: 458px;
                height: 52px;
                line-height: 14px;
                border-color: #f5ca0f;
                background-color: #f5ca0f;
                color: black;
                font-weight: bold;
                font-size: 14px;
                text-decoration: none;
                cursor: pointer;

                .speech-bubblimg {
                    display: flex;
                    align-items: center;
                    width: 22px;
                    height: 44px;
                }

                .kakao-loginimg {
                    width: 50%;
                    height: 50%;
                    padding-top: 15px;

                    .kakao-loginname {}
                }
            }
        }

        .forgot-explanation {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: auto;
            text-align: center;
            font-size: 14px;
        }

        .login-form {

            display: inline;
            margin: 20px 0 0 20px;

            .field-firstlabel {
                .input-id {
                    padding-left: 20px;
                    width: 458px;
                    height: 50px;
                    line-height: 14px;
                    margin-bottom: 15px;
                    margin-left: 42px;
                    border: 1px solid #e5e5e5;
                }
            }



        }

        .first-buttonlogin {
            display: flex;

            .btn-2 {

                width: 458px;
                height: 50px;
                margin-left: 40px;
                margin-bottom: 20px;
                background: black;
                border: 1px solid black;
                box-shadow: 0 2px 0 black, 2px 4px 6px black;
                font-weight: bold;
                letter-spacing: 1px;
                transition: all 0.15s linear;
                color: white;
            }

            .btn-2:hover {
                background: white;
                border: 1px solid black;
                box-shadow: 1px 1px 2px white;
                color: black;

            }

        }

        .find-idpwdlink {
            color: #000000;
            font-size: 13px;
            margin-left: 42px;
        }
    }
}