.Login {
    display: flex;
    justify-content: center;
    padding-top: 80px;

    .accountauth-content {
        width: 538px;
        height: 631px;
        border: 1px solid #e5e5e5;
        padding: 50px 40px;

        .account-authcontenttitle {
            text-align: center;
            font-size: 30px;
            font-weight: bold;
        }

        .login-form {
            margin-top: 50px;

            .field-firstlabel {
                .input-id {
                    padding-left: 20px;
                    width: 450px;
                    height: 50px;
                    line-height: 14px;
                    margin-bottom: 15px;
                    border: 1px solid #e5e5e5;
                }
            }


            .field-secondlabel {
                margin-top: 2px;

                .input-pwd {
                    padding-left: 20px;
                    width: 450px;
                    height: 50px;
                    line-height: 14px;
                    border: 1px solid #e5e5e5;
                }
            }

            .login-info {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                width: 450px;

                .account-tools {
                    font-size: 12px;

                    .i-checkbox {
                        position: relative;
                        font-size: 12px;
                        line-height: 1;
                        color: #9b9b9b;
                    }

                    .text {

                        background-color: #ffffff;
                    }

                }


            }

            .find-idpwd {
                display: flex;
                justify-content: space-between;
                color: black;
                font-size: 14px;

                .find-idpwdlink {
                    color: #000000;
                    font-size: 13px;
                }
            }


        }


        .first-buttonlogin {
            display: flex;

            .click-login {
                margin-top: 20px;
                width: 534px;
                height: 50px;
                line-height: 14px;
                background-color: black;
                color: white;
                font-weight: bold;
                font-size: 16px;
                cursor: pointer;
                border: 0;
            }
        }

        .button-login {
            display: flex;

            .kakao-login {
                display: flex;
                justify-content: center;
                margin-top: 20px;
                border: 0;
                width: 534px;
                height: 50px;
                line-height: 14px;
                border-color: #f5ca0f;
                background-color: #f5ca0f;
                color: black;
                font-weight: bold;
                font-size: 16px;
                text-decoration: none;
                cursor: pointer;

                .speech-bubblimg {
                    display: flex;
                    align-items: center;
                    width: 22px;
                    height: 44px;
                    margin-right: 5px;
                }

                .kakao-loginimg {
                    width: 50%;
                    height: 50%;
                    padding-top: 15px;

                    .kakao-loginname {}
                }
            }

        }





        .footer-info {
            display: flex;
            justify-content: space-between;
            width: 450px;

            .register {
                cursor: pointer;
                font-size: 14px;
                margin-top: 20px;
            }

            a {
                color: #000000;
            }
        }


        .not-member {
            cursor: pointer;
            font-size: 14px;
            margin-top: 20px;

            a {
                color: #000000;
            }
        }

        .login-eventinfo {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 25px;
            background-color: #f4f4f4;
            font-size: 15px;
            height: 80px;

            .event-img {
                width: 40px;
                height: 40px;

            }
        }



        .event-infoptag {
            margin-left: 30px;
        }

    }

}