.Login {
    display: flex;
    justify-content: center;
    margin-top: 100px;

    .container {
        width: 538px;
        height: 631px;
        border: 1px solid #e5e5e5;
        padding: 50px 40px;

        .title {
            text-align: center;
            font-size: 30px;
            font-weight: bold;
        }

        .id_pw_form {
            margin-top: 50px;

            .id_input {
                margin-bottom: 15px;

                input {
                    padding: 0px 20px;
                    width: 450px;
                    height: 50px;
                    line-height: 14px;
                    border: 1px solid #e5e5e5;
                }
            }

            .pw_input {
                margin-top: 2px;

                input {
                    padding-left: 20px;
                    width: 450px;
                    height: 50px;
                    line-height: 14px;
                    border: 1px solid #e5e5e5;
                }
            }

            .login-option {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                width: 450px;

                .account-tools {
                    font-size: 12px;

                    .i-checkbox {
                        position: relative;
                        font-size: 12px;
                        line-height: 1;
                        color: #9b9b9b;
                    }

                    .text {

                        background-color: #ffffff;
                    }

                }


            }

            .find-idpwd {
                display: flex;
                justify-content: space-between;
                color: black;
                font-size: 14px;

                .find-idpwdlink {
                    color: #000000;
                    font-size: 13px;
                }
            }


        }


        .login_btn {
            display: flex;
            margin-top: 30px;

            button {

                background: black;
                border: 1px solid black;
                box-shadow: 0 2px 0 black, 2px 4px 6px black;
                font-weight: bold;
                letter-spacing: 1px;
                transition: all 0.15s linear;
                color: white;
                width: 456px;
                height: 50px;

                &:hover {
                    background: white;
                    border: 1px solid black;
                    box-shadow: 1px 1px 2px white;
                    color: black;
                }
            }
        }

        .kakao_login {
            display: flex;
            margin-top: 20px;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 0;
                width: 534px;
                height: 50px;
                line-height: 14px;
                border-color: #f5ca0f;
                background-color: #f5ca0f;
                color: black;
                font-weight: bold;
                font-size: 16px;
                text-decoration: none;
                cursor: pointer;

                .speech_icon {
                    width: 22px;
                    margin-right: 5px;
                }
            }

        }

        .footer-info {
            display: flex;
            justify-content: space-between;
            // width: 450px;
            margin-top: 20px;
            font-size: 14px;

            .register {
                cursor: pointer;

                a {
                    color: #000000;
                }
            }

            .not-member {
                cursor: pointer;

                a {
                    color: #000000;
                }
            }
        }



        .event {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 25px;
            background-color: #f4f4f4;
            font-size: 15px;
            height: 80px;

            .img {
                img {
                    width: 40px;
                    height: 40px;
                }
            }

            .info {
                margin-left: 30px;
            }

        }

    }

}