.Cart {

    .CartWrap {
    width: 100%;
    height: 610px;
     margin: 100px ;
     
        
    }
    .CartEmpty {
    
        font-size: 18px;
        line-height: 1;
        margin-left: 500px;
        
        .CartName{

            line-height: 2;
            .CartList {
            
            }
            .CartBottomLine {
               
                width: 810px;
                border-bottom: 1px solid #e5e5e5;
                background-color: #ffffff;
                }
            }  
            
            .CartEmptyContent {
                width: 810px;
                height: 417px;
                text-align: center;
                margin-top: 150px;
             .CartNo{
                margin: 20px 0;
                font-size: 24px;
                font-weight: 700;
                line-height: 1;
             }
             .CartNoContent {
                color: e5e5e5;
                margin: 20px 0;
                font-size: 14px;
                line-height: 1;
             }

             .FirstButtonLogin {
                display: flex;
                margin-top: 20px;
            
                .ClickLogin {
                    margin: auto;
                    width: 330px;
                    height: 50px;
                    line-height: 14px;
                    background-color: black;
                    color: white;
                    font-weight: bold;
                    font-size: 16px;
                    cursor: pointer;
                    border: 0;
                }
            }
            }
        }
    }


