.Shoesmenu {
    width: 700px;
    height: 877px;

    .Main {
        margin : 70px 0 32px 70px;
        .LiList {
            list-style-type: none;
            font-size: 28px;
            margin : 0 0 24px;
            font-weight: 600;
            line-height: 1;
            color: #000000;
        
        }
        
        .RecommendItem{
            position: relative;
            width: 560px;
            height: 205px;
            margin-top: 80px;
            margin-right: 32px;
            max-width: 560px;

            .RecommendPtag {
                margin : 0 0 15px;  
                padding-left: 40px; 
                font-weight: bold;
                font-size: 14px;
            }
            
            .ImageList {
                display: flex;
                list-style : none;
              
                .PictureCollect {
                    display: flex;
                    margin-left: 20px;
                }
                
                .RecommendImg {
                    display: flex;
                }
                
                .Picture {
                    margin-right: 15px;
                    .PictureSize {
                        width: 123px;
                        height: 144px;
                        margin-bottom: 15px;
                    }
                }
                             
                span {
                    color: #000000;
                }
                a {
                    text-decoration:none ;
                }
            }
          
        }
        
       
    }
    
   
}

