#root {
    border-bottom: 0.5px solid gray;
    border-top: 0.5px solid gray;
    background-color: #ffffff;
}

.Header {

    position: relative;
    top: 10;
    left: 10;
    width: 100%;
    background-color: #ffffff;
    -webkit-transition: background-color 13ms ease-in-out;
    transition: background-color 13ms ease-in-out;

    .content {
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 0;
        max-width: 1440px;

        .nav-all {
            margin-right: 0;


            .flex-aligncenter {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .nav-leftflex {
                    display: flex;
                    align-items: center;



                    .nav-leftname {


                        .logo-flex-img {
                            .logo-flex {
                                .header-navigation {
                                    width: 180px;
                                    height: 30px;
                                }
                            }

                            .nav-content {
                                .ul-name {
                                    display: flex;
                                    font-weight: bold;
                                    width: 200px;
                                    height: 30px;
                                    padding-top: 5px;
                                }

                                .li-name {
                                    list-style-type: none;
                                    margin-left: 10px;
                                }

                                .li-name ::after {
                                    box-sizing: border-box;
                                    margin: 0;
                                    border: 0;
                                }
                            }
                        }
                    }
                }

                .navright-all {
                    display: flex;

                    .nav-right {
                        display: flex;

                        .user-img {
                            width: 20px;
                            height: 20px;
                            margin-right: 20px;
                        }

                        .shopping-cart {
                            width: 20px;
                            height: 20px;
                            margin-right: 20px;
                        }

                        .heart-img {
                            width: 20px;
                            height: 20px;
                            margin-right: 20px;
                        }

                        .question-mart {
                            width: 20px;
                            height: 20px;
                        }

                        .search-box {
                            width: 250px;
                            height: 60px;
                            background-color: black;
                            margin-left: 20px;
                            color: white;
                            display: flex;
                            align-items: center;

                            .ptag-search {
                                margin-left: 15px;
                                color: white;
                            }

                            .search-img {
                                color: white;
                                width: 100px;
                                height: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
}