.Header {
  z-index: 3000;
  display: flex;
  position: relative;
  background-color: #ffffff;
  -webkit-transition: background-color 13ms ease-in-out;
  transition: background-color 13ms ease-in-out;
  height: 60px;

  .content {
    margin: auto;
    width: -webkit-fill-available;
    max-width: 1440px;

    .nav-all {
      margin-right: 0;
      width: 100%;

      .flex-aligncenter {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav-leftflex {
          display: flex;
          align-items: center;

          .nav-leftname {
            .logo-flex-img {
              .logo-flex {
                .header-navigation {
                  width: 180px;
                  height: 30px;
                }
              }

              .nav-content {
                display: inline-flex;

                .ul-name {
                  display: flex;
                  font-weight: bold;
                  width: 200px;
                  height: 30px;
                  padding-top: 5px;
                }

                .li-name {
                  list-style-type: none;
                  margin-left: 10px;
                }

                .li-name ::after {
                  box-sizing: border-box;
                  margin: 0;
                  border: 0;
                }
              }
            }
          }
        }

        .navright-all {
          display: flex;
          width: 152px;
          justify-content: space-between;

          .nav-right {
            display: flex;

            .user-img {
              width: 20px;
              height: 20px;
              margin-right: 20px;
            }

            .shopping-cart {
              width: 20px;
              height: 20px;
              margin-right: 20px;
            }

            .heart-img {
              width: 20px;
              height: 20px;
              margin-right: 20px;
            }

            .question-mart {
              width: 20px;
              height: 20px;
            }

            .search-box {
              width: 250px;
              height: 60px;
              background-color: black;
              margin-left: 20px;
              color: white;
              display: flex;
              align-items: center;

              .ptag-search {
                margin-left: 15px;
                color: white;
              }

              .search-img {
                color: white;
                width: 100px;
                height: 100px;
              }
            }
          }
        }
      }
    }
  }
}
