@import "../../../../Styles/Media.scss";

.DetailContainer {
  @media #{$tablet-s} {
    -webkit-flex-basis: 58.33333%;
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  @media #{$desktop-s} {
    -webkit-flex-basis: 66.66667%;
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 0 48px;
  }

  .detail-section {
    @media #{$mobile-l} {
      padding-bottom: 32px;
    }
    @media #{$tablet-s} {
      padding-bottom: 70px;
    }
    padding-top: 24px;
    border-top: 1px solid;
    -webkit-transition: opacity 0.6s ease-out, visibility 0.6s ease-out;
    transition: opacity 0.6s ease-out, visibility 0.6s ease-out;
  }
}
