.Forgotpassword{
    .IdForm{
        width: 540px;
        height: 500px;
        margin: 100px auto;
        display: flex;
        border: 1px solid #e5e5e5;
    .IdPwdForm{
        width: 540px;
        height: 540px;
        
    }
    .IdPwd {
        display: flex;
    }
    .FindId{
        display: flex;
        align-items: center;
        justify-content: center;    
        width: 269px;
        height: 50px;
        text-align: center;       
        font-size: 18px;
        font-weight: bold; 
        color: #9b9b9b;
        background-color: #f4f4f4;
    }
    .ResetPwd {
        display: flex;
        align-items: center;
        justify-content: center;  
        width: 269px;
        height: 50px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 1;
        color: #000000;
        background-color: #ffffff;
        }
     .ForgotContent {
         width: 100%;
         margin-top: 60px;
         text-align: center;
         font-size: 14px;

     span {
         margin-top: 10px;
     }
     }
     
     .ButtonLogin {
        display: flex;

        .KakaoLogin {
            display: flex;
            justify-content: center;
            margin: 20px auto;
            border: 0;
            width: 458px;
            height: 52px;
            line-height: 14px;
            border-color: #f5ca0f;
            background-color: #f5ca0f;
            color: black;
            font-weight: bold;
            font-size: 14px;
            text-decoration: none;
            cursor: pointer;

            .SpeechBubblImg {
                display: flex;
                align-items: center;
                width: 22px;
                height: 44px;
            }

            .KakaoLoginImg {
                width: 50%;
                height: 50%;
                padding-top: 15px;
                .KakaoLoginName{
                    
                }
            } 
        }    
  }
  .ForgotExplanation {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 14px;
  }
  .LoginForm {
     
      display: inline;
      margin: 20px 0 0 20px;
    
    .FieldFirstLabel {
        .InputId {
            padding-left: 20px;
            width: 458px;
            height: 50px;
            line-height: 14px;
            margin-bottom: 15px;
            margin-left: 42px;
            border: 1px solid #e5e5e5;
        }
    }


    .FieldSecondLabel {
        margin-top: 2px;

        .InputPwd {
            padding-left: 20px;
            width: 458px;
            height: 50px;
            line-height: 14px;
            margin-left: 42px;
            border: 1px solid #e5e5e5;
        }
    }
    
  }
  .FirstButtonLogin {
    display: flex;

    .ClickLogin {
        margin : 0 0 15px 42px;
        width: 458px;
        height: 50px;
        line-height: 14px;
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        border: 0;
    }
}
.FindIdPwdLink {
    color: #000000;
    font-size: 13px;
    margin-left : 42px;
}
 }
}