@import "../../../../Styles/Media.scss";

.SideBar {
  @media #{$mobile-l} {
    padding: 0 15px;
  }

  @media #{$tablet-s} {
    position: absolute;
    top: 30px;
    right: 0;
    width: 100%;
    height: 100%;

    flex-basis: 39.66667%;
    max-width: 39.66667%;
  }

  @media #{$tablet-l} and (min-width: 768px) {
    padding-left: 32px;
  }

  @media #{$desktop-s} {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding-left: 3.54%;
    padding-right: 3.54%;
    padding-top: 0;
  }

  padding-right: 8px;
  flex-basis: 100%;
  max-width: 100%;

  .fixed {
    // width % 조절
    @media #{$tablet-s} {
      // position: fixed;
      top: auto;
      bottom: 0;
    }
    width: 100%;
    padding-bottom: 40px;

    .sns-wrapper {
      @media #{$mobile-l} {
        margin-top: 16px;
      }
      @media #{$tablet-s} {
        margin-top: 24px;
      }

      .clear {
        clear: both;

        .animation {
          animation-fill-mode: both;
          animation-timing-function: ease-out;
          animation-duration: 0.3s;
          display: block;
          position: relative;
          font-size: 0;
          line-height: 0;
          opacity: 1;

          .buttons {
            .button {
              display: inline-block;
              margin: 0 2px 5px;
              padding: 5px;
              overflow: hidden;
              // background-color: rgb(102, 102, 102);
              color: #ffffff;
              border-radius: 2px;
              transition: all 0.2s ease-in-out;
              border: 0;

              .icon-wrapper {
                display: inline-block;
                float: left;
                overflow: hidden;

                .icon {
                  @media #{$tablet-s} {
                    height: 25px;
                    width: 25px;
                  }
                  width: 20px;
                  height: 20px;
                  cursor: pointer;
                  border: 0;
                }
              }
            }
          }
        }

        .animation::before {
          content: " ";
          display: table;
        }
        .animation::after {
          content: " ";
          display: table;
        }
      }
    }

    .messsage {
      @media #{$mobile-l} {
        margin-top: 16px;
        height: 44px;
      }
      @media #{$tablet-s} {
        margin-top: 24px;
        height: 46px;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      line-height: 1.2;
      border: 1px solid #e5e5e5;
    }

    .delivery {
      @media #{$mobile-l} {
        margin-top: 16px;
      }
      @media #{$tablet-s} {
        margin-top: 24px;
      }
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
      align-items: flex-end;
      justify-content: flex-end;
      min-height: 1px;
      margin-left: 0;
      margin-right: 0;

      .link {
        display: inline-flex;
        text-decoration: underline;
        .text {
          font-size: 12px;
          color: #757575;
        }
      }
    }
  }
}
