.CartAdded {
    display: flex;
    justify-content: center;
    margin-top: 100px;

    .cart-wrap {
        display: flex;
    }

    .cart-empty {
        font-size: 18px;
        line-height: 1;
        margin-left: 100px;

        .cart-name {
            line-height: 2;

            .cart-list {
                width: 810px;
                background-color: #ffffff;
                font-weight: 600;
                margin-bottom: 8px;
            }

            .cart-all {
                margin-bottom: 100px;
            }

            .option {
                .change-option {
                    background-color: white;
                    margin-right: 10px;
                    z-index: 1;
                    position: relative;
                }

                .close-modal {
                    width: 50px;
                    height: 50px;
                }
            }

            .clear-cart {
                width: 140px;
                height: 40px;
                font-size: 14px;
                border: 1px solid #e5e5e5;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                margin-left: 570px;
            }
        }
    }

    .cart-summary {
        width: 290px;
        border: 1px solid #e5e5e5;
        background-color: #f4f4f4;

        .summary-title {
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: -0.025em;
            text-align: center;
        }

        .summary-content {
            border: 1px solid #e5e5e5;
            background-color: #ffffff;
            margin: 30px 20px 0 20px;

            .order-totals {
                padding: 25px;
                border-bottom: 1px solid #e5e5e5;

                .order-total-item {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 18px;

                    .label-align-center {}

                    .value {
                        // margin-left: 100px;
                    }
                }

                .order-total-highlight {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 18px;
                }
            }

            .order-checkout {
                .first-buttonlogin {
                    display: flex;

                    .click-login {
                        margin: 30px;
                        width: 208px;
                        height: 50px;
                        line-height: 14px;
                        background-color: black;
                        color: white;
                        font-weight: bold;
                        font-size: 16px;
                        cursor: pointer;
                        border: 0;
                    }
                }
            }
        }

        .cart-entry-promo {
            margin-top: 10px;
            margin-left: 12px;

            .promo-message {
                font-size: 12px;
                line-height: 20px;
                letter-spacing: -0.025em;
                word-break: keep-all;
                word-wrap: break-word;
                overflow-wrap: break-word;
                margin-left: 12px;
                margin-bottom: 16px;
            }
        }

        .input-code {
            display: flex;
            align-items: center;

            .row-flex-no {
                ::placeholder {
                    color: gray;
                }

                .promo-code {
                    padding-left: 20px;
                    width: 170px;
                    height: 45px;
                    line-height: 1.5;
                    letter-spacing: -0.025em;
                    border: 1px solid #e5e5e5;
                    background-color: #ffffff;
                    margin: 20px 0 0 20px;
                }
            }
        }

        .submit-promo {
            .btn-submit {
                margin-top: 20px;
                width: 80px;
                height: 45px;
                background-color: #ffffff;
                border: 1px solid #e5e5e5;
                font-size: 13px;
                font-weight: bold;
            }
        }

        .guide {
            .movement-guide {
                flex-direction: column;
                display: flex;
                width: 248px;
                border: 1px solid #e5e5e5;
                background-color: #ffffff;
                margin: 20px 20px 0 20px;

                .movement-content {
                    padding: 13px 25px 13px 25px;
                    display: flex;
                    flex-direction: column;
                    // height: 100%;
                    font-size: 13px;
                    line-height: 25px;


                    .move {
                        display: none;

                    }

                    .movement-ultag {
                        list-style: disc;
                        font-size: 14px;
                        line-height: 24px;
                        width: 200px;
                        visibility: visible;
                        transition: visibility 0.3s ease;
                        letter-spacing: -.025em;
                        color: #757575;
                        margin-top: 20px;

                    }

                    .movement-litag {
                        letter-spacing: -.025em;
                        color: #757575;
                        font-size: 14px;
                        line-height: 22px;
                    }

                    .movement-icon {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: white;
                    }

                    .plus-icon {
                        width: 15px;
                        height: 15px;
                    }

                    .movement-ultag {
                        padding-left: 1.25em;
                        list-style: disc;
                    }
                }
            }

            .delivery-guide {
                flex-direction: column;
                display: flex;
                width: 248px;
                border: 1px solid #e5e5e5;
                background-color: #ffffff;
                margin: 0 20px;

                .delivery-content {
                    padding: 13px 25px 13px 25px;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    font-size: 13px;
                    line-height: 25px;

                }

                .delivery-icon {
                    display: flex;
                    justify-content: space-between;

                    /* font-size: 14px; */
                    /* transition: visibility 0s, opacity 0.5s; */
                    background-color: white;

                    .plus-icon {
                        width: 15px;
                        height: 15px;
                    }

                }

                .movement-litag {
                    letter-spacing: -.025em;
                    color: #757575;
                    font-size: 14px;
                    line-height: 22px;
                }


                .move {
                    display: none;
                }

                .delivery-info {
                    font-size: 14px;
                    line-height: 24px;
                    border-top: 1px solid #e5e5e5;
                }

                .movement-ultag {
                    margin-top: 20px;
                    padding-left: 1.25em;
                    list-style: disc;

                }
            }
        }
    }
}