.Promo {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 552px;
    padding: 17px 18px;
}


// slide Event 추가 예정
// .slide {
//     position: relative;
//     transition: linear 3s;
// }